<div class="top-navbar">
    <div class="navbar-brand-area">
        <img src="~/images/logo.png" alt="BookShelf" class="nav-logo" />
        <span class="nav-brand-text">BookShelf</span>
    </div>
    <div class="navbar-center">
        <div class="search-box">
            <input type="text" placeholder="Search books..." />
            <i class="fa fa-search"></i>
        </div>
    </div>
    <div class="navbar-right">
        <i class="fa fa-bell nav-icon"></i>
        <i class="fa fa-circle-user nav-icon"></i>
    </div>
</div>
