@{
    Layout = null;
}

<title>BookShelf</title>

<link rel="stylesheet" href="~/css/uploadeditems.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<div class="uploaded-page">

    <!-- Back button -->
    <a asp-controller="Account" asp-action="UserProfile" class="back-arrow">
        <i class="fa fa-arrow-left"></i>
    </a>

    <div class="sections-container">

        <!-- BOOKS -->
        <div class="items-panel">

            <h2 class="panel-title">Books</h2>

            <!-- 1st Book -->
            <div class="item-row">

                <img src="~/images/book1.png" class="book-thumb" />

                <div class="item-info">
                    <div class="item-name">Maths Textbook XII</div>

                    <div class="item-time">
                        <b>Uploaded at :</b> 2026-03-08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:15
                    </div>
                </div>

                <div class="item-actions">
                    <a href="/Home/BookDetails" class="view-icon">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <span class="delete-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>

            </div>

            <!-- 2nd Book -->
            <div class="item-row">

                <img src="~/images/book3.png" class="book-thumb" />

                <div class="item-info">
                    <div class="item-name">Twisted Series</div>

                    <div class="item-time">
                        <b>Uploaded at :</b> 2026-03-08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:15
                    </div>
                </div>

                <div class="item-actions">
                    <a href="javascript:void(0)" class="view-icon">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <span class="delete-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>

            </div>

            <!-- 3rd Book -->
            <div class="item-row">

                <img src="~/images/book4.png" class="book-thumb" />

                <div class="item-info">
                    <div class="item-name">Gujarati Textbook</div>

                    <div class="item-time">
                        <b>Uploaded at :</b> 2026-03-08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:15
                    </div>
                </div>

                <div class="item-actions">
                    <a href="javascript:void(0)" class="view-icon">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <span class="delete-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>

            </div>

            <!-- 4th Book -->
            <div class="item-row">

                <img src="~/images/book5.png" class="book-thumb" />

                <div class="item-info">
                    <div class="item-name">The 7 Habbits Happy Kid</div>

                    <div class="item-time">
                        <b>Uploaded at :</b> 2026-03-08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:15
                    </div>
                </div>

                <div class="item-actions">
                    <a href="javascript:void(0)" class="view-icon">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <span class="delete-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>

            </div>

            <!-- 5th Book -->
            <div class="item-row">

                <img src="~/images/book8.png" class="book-thumb" />

                <div class="item-info">
                    <div class="item-name">Oxford Dictionary</div>

                    <div class="item-time">
                        <b>Uploaded at :</b> 2026-03-08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:15
                    </div>
                </div>

                <div class="item-actions">
                    <a href="javascript:void(0)" class="view-icon">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <span class="delete-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>

            </div>
        </div>


        <!-- EBOOKS -->
        <div class="items-panel">

            <h2 class="panel-title">Ebooks</h2>

            <!-- 1st Ebook -->
            <div class="item-row">

                <div class="ebook-pdf-icon">
                    <i class="fa-regular fa-file-pdf"></i>
                </div>

                <div class="item-info">
                    <div class="item-name">Let Them</div>

                    <div class="item-time">
                        <b>Uploaded at :</b> 2026-03-08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:15
                    </div>
                </div>

                <div class="item-actions">
                    <a href="javascript:void(0)" class="view-icon">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <span class="delete-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>

            </div>
            <!-- 2nd Ebook -->
            <div class="item-row">

                <div class="ebook-pdf-icon">
                    <i class="fa-regular fa-file-pdf"></i>
                </div>

                <div class="item-info">
                    <div class="item-name">The Midnight Library</div>

                    <div class="item-time">
                        <b>Uploaded at :</b> 2026-03-08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:15
                    </div>
                </div>

                <div class="item-actions">
                    <a href="javascript:void(0)" class="view-icon">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <span class="delete-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>

            </div>

            <!-- 3rd Ebook -->
            <div class="item-row">

                <div class="ebook-pdf-icon">
                    <i class="fa-regular fa-file-pdf"></i>
                </div>

                <div class="item-info">
                    <div class="item-name">To Kill a Mockingbird</div>

                    <div class="item-time">
                        <b>Uploaded at :</b> 2026-03-08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:15
                    </div>
                </div>

                <div class="item-actions">
                    <a href="javascript:void(0)" class="view-icon">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <span class="delete-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>

            </div>
            <!-- 4th Ebook -->
            <div class="item-row">

                <div class="ebook-pdf-icon">
                    <i class="fa-regular fa-file-pdf"></i>
                </div>

                <div class="item-info">
                    <div class="item-name">I Don't Love You Anymore</div>

                    <div class="item-time">
                        <b>Uploaded at :</b> 2026-03-08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:15
                    </div>
                </div>

                <div class="item-actions">
                    <a href="javascript:void(0)" class="view-icon">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <span class="delete-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>

            </div>
            <!-- 5th Ebook -->
            <div class="item-row">

                <div class="ebook-pdf-icon">
                    <i class="fa-regular fa-file-pdf"></i>
                </div>

                <div class="item-info">
                    <div class="item-name">Tuesdays with Morrie</div>

                    <div class="item-time">
                        <b>Uploaded at :</b> 2026-03-08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:15
                    </div>
                </div>

                <div class="item-actions">
                    <a href="javascript:void(0)" class="view-icon">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <span class="delete-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>

            </div>
        </div>

    </div>

</div>