@model List<BookShelf.Models.Category>

<link rel="stylesheet" href="~/css/category.css" />

<div class="category-container">
    <div class="category-grid">

        @foreach (var cat in Model.Take(6))
        {
            <a href="@Url.Action("CategoryBooks", "Home", new { id = cat.Id })"
               class="category-card">

                <img src="~/images/categories/@cat.ImagePath"
                     alt="@cat.Name" />

                <p>@cat.Name.ToUpper()</p>

            </a>
        }

    </div>
</div>