@model List<BookShelf.Models.Book>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = ViewBag.Category as string ?? "Books";
}
<link rel="stylesheet" href="~/css/category-books.css" />

<div class="catbooks-page">

    <!-- Back arrow -->
    <div class="catbooks-header">
        <a href="/Home/Category" class="btn-back" title="Back to Categories">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>

    <div class="book-grid">

        @foreach (var book in Model)
        {
            <div class="book-card">

                <img src="~/images/@book.ImagePath" alt="@book.Title" />

                <h3>@book.Title</h3>

                <p>@book.Category?.Name</p>

                <div class="price">
                    @if (book.ActualPrice != null)
                    {
                        <span class="old">&#8377;@book.ActualPrice</span>
                    }
                    <span class="new">&#8377;@book.SellingPrice</span>
                </div>

                <div class="card-buttons">
                    <button onclick="window.location.href='/Home/BookDetails?id=@book.Id'">
                        View
                    </button>
                </div>

            </div>
        }

    </div>

</div>
