body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: white;
    overflow: hidden; 
}

/* MAIN LAYOUT */
.forgot-page {
    display: flex;
    height: 100vh;
    gap: 2px;
}

/* LEFT SIDE */
.left-section {
    flex: 1;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADING BLOCK */
.heading-block {
    margin-bottom: 40px;
}

/* TITLE */
.title {
    font-size: 60px;
    font-weight: 700;
    color: #264075;
    margin: 0;
    white-space: nowrap; 
}

/* SUBTITLE */

.subtitle {
    font-size: 24px;
    color: rgba(38,64,117,0.81);
    margin-top: 10px;
    margin-left: 170px;
}

/* CARD */
.card-box {
    background: rgba(189,147,117,0.30);
    border-radius: 15px;
    padding: 35px;
    max-width: 520px;
}

label {
    font-size: 24px;
    font-weight: 700;
    color: #823838;
}

input {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    border-radius: 15px;
    border: none;
    padding-left: 20px;
    background: rgba(129,56,56,0.51);
    color: white;
    font-size: 18px;
}

.validation {
    color: red;
    font-size: 14px;
}

.reset-btn {
    margin-top: 25px;
    width: 60%;
    height: 55px;
    border-radius: 15px;
    border: none;
    background: #823838;
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-left: 90px;
}

/* INFO TEXT */
.info-text {
    margin-top: 25px; 
    font-size: 18px;
}

    .info-text p {
        margin: 5px 0; 
    }

.second-line {
    margin-top: 2px;
}

/* RIGHT SIDE */
.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 35px;
}

    .right-section img {
        height: 90vh;
        width: 80vh;
        max-width: 650px;
        border-radius: 15px;
        
    }

/* RESPONSIVE */
@media (max-width: 992px) {

    body {
        overflow: auto; 
    }

    .forgot-page {
        flex-direction: column;
        height: auto;
    }

    .title {
        font-size: 40px;
        white-space: normal; 
    }

    .subtitle {
        font-size: 18px;
    }

    .reset-btn {
        width: 100%;
    }

    .right-section img {
        height: auto;
        width: 90%;
        margin: 20px auto;
    }
}
